body {
    background-image: url("./assets/shape/rectangle1.png");
    font-family: 'Roobert', sans-serif !important;
    color: #fff !important;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
.text-base {
    color: #f98925 !important;
}
.text-white {
    color: #fff !important;
    text-decoration: none;
}
.pointer{
  cursor: pointer;
}
.max-w-1280{
    max-width: 1280px !important;
}
.global-padding {
    padding-left: 3rem;
    padding-right: 3rem;
}
.grizzly-break {
  width: 100vw;
  border: #ffffff 1px solid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/*custom font*/
.font-xl{font-size: 5.5rem;}/*88px*/
.font-lg{font-size: 3.25rem;}/*52px*/
.font-md{font-size: 2.5rem;}/*40px*/
.font-sm{font-size: 1rem;}/*16px*/
.font-xs{font-size: 0.875rem;} /*14px*/
.font-btn{font-size: 1.5rem;} /*24px*/
.font-ctext{font-size: 1.5rem;}
/* Nagivation Css */
.grizzly-con-nav {
    background:
        linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(to bottom, rgba(39, 39, 39, .2), rgba(255, 255, 255, 0));
    font-weight: 400;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: hidden;
}
.grizzly-sub-nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link:hover {
    color: #f98925 !important;
}
.nav-link.active {
    color: #f98925 !important;
}
/* End Navigation CSS */
/* Button */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .grizzly-outline{
    background-color: transparent;
    border: #F98925 2px solid;
    color: #F98925;
    cursor: pointer;
    border-radius: 50px;
    width: 17rem;
    height: 4.5rem;
  }
  .grizzly-button {
    background: linear-gradient(to left, #f98925 0%, #f35921 80%);
    color: white;
    border-radius: 50px;
    width: 17rem;
    height: 4.5rem;
    border: 2px solid #F98925;
    cursor: pointer;
  }
  
  .grizzly-button:hover {
    background: transparent;
    border: 1px solid #F98925;
    color: #F98925;
  }
  
  .grizzly-button-scroll {
    background: transparent;
    color: white;
    border-radius: 5rem;
    border: 2px solid #fff;
    width: 8rem;
    height: 8rem;
    margin-left: 4.5rem;
  }
  
  .grizzly-button-scroll:hover {
    border-color: #F98925;
    color: #F98925;
  }
  
  .grizzly-button span,
  .grizzly-button-scroll span {
    pointer-events: none;
  }
  /* end button CSS */
  .grizzly-img-wrapper {
    width: 100vw;
    z-index: -1;
    max-width: 1280px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
  }
/* Text-Carousel Swiper CSS */
.text-carousel {
  width: 100%;
  height: 25rem ;
}
.text-carousel .swiper-slide {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-carousel .swiper-pagination::before {
  content: "";
  position: absolute;
  top: 45px;
  width: 1px;
  height: 145px;
  background: white;
  z-index: -1;
}
.text-carousel .swiper-pagination-bullet {
  margin: 40px 0 !important;
  background: white !important;
  opacity: 1 !important;
  height: 10px !important;
  width: 10px !important;
}
.text-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  background: #f98925 !important;
  height: 10px !important;
  width: 10px !important;
}
/* End Text Carousel Swiper CSS */
/* Solution Swiper Css */
.solution-swiper .swiper-slide {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.solution-swiper .swiper-pagination::before {
  content: "";
  position: absolute;
  top: 45px;
  width: 1px;
  height: 145px;
  background: white;
  z-index: -1;
}
.solution-swiper .swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
  height: 10px !important;
  width: 10px !important;
}
.solution-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #f98925 !important;
  height: 10px !important;
  width: 10px !important;
}
/* End Solution Swiper CSS */
/* Elite Swiper Css */
.elite-swiper{height: 10rem;}
/* Eclipse */
.grizzly-eclipse-container {
  width: 100%;
  position: relative;
  height: 180px;
  z-index: -1;
}
.grizzly-eclipse-a {
  position: absolute;
  top: -100px;
  right: -180px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 20px solid #ED442D;
  z-index: -1;
}
.grizzly-eclipse-b {
  position: absolute;
  background-color: #F98925;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: -100px;
  z-index: -1;
  top: 0;
}
.grizzly-eclipse-c {
  position: absolute;
  top: 74%;
  right: 30%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 20px solid #ED442D;
  z-index: -1;
}
.grizzly-eclipse-d {
  position: absolute;
  bottom: 0;
  left: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #ED442D;
  z-index: -1;
}

.grizzly-eclipse-e {
  position: absolute;
  top: 0;
  right: -60px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #ED442D;
  z-index: -1;
}
.grizzly-eclipse-f {
  background-color: #F98925;
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
}
.grizzly-eclipse-g {
  position: absolute;
  top: -60px;
  right: -60px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 20px solid #ED442D;
  z-index: -1;
}


.grizzly-rectangle-a {
  position: absolute;
  top: 35%;
  right: 15px;
  width: 35vw;
  height: 30vh;
  background-color: #242323;
  z-index: -1;
}

.grizzly-eclipse-h {
  background-color: #F98925;
  position: absolute;
  top: 0;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}
.grizzly-eclipse-i {
  position: absolute;
  bottom: 0;
  left: -130px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 20px solid #ED442D;
  z-index: -1;
}


.grizzly-solution-title {
  margin-top: 5rem;
  font-size: 5.5rem;
  font-weight: 300;
}
.grizzly-solutions-title {
  color: #F98925;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
.grizzly-solutions-subtitle {
  font-size: medium;
  font-weight: 300;
  line-height: 1;
}
.grizzly-solutions-who {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.grizzly-solutions-description {
  font-size: 1.2rem;
  font-weight: 300;
}
.grizzly-solutions-outcome {
  font-size: 1.2rem;
  font-weight: 600;
}
.grizzly-solution-button-apply {
  color: #fff;
  background: linear-gradient(to left, #f98925 0%, #f35921 80%);
  width: 100%;
  padding: .5rem 0;
  border: #f98925 1px solid;
  border-radius: 50px;
}
.grizzly-solution-button-apply:hover {
  color: #f98925;
  background: transparent;
  border: #f98925 1px solid;
}
.grizzly-solution-button-check {
  color: #f98925;
  background: transparent;
  border: #f98925 1px solid;
  width: 100%;
  padding: .5rem 0;
  border-radius: 50px;
}
.grizzly-solution-button-check:hover {
  color: #fff;
  background: linear-gradient(to left, #f98925 0%, #f35921 80%);
}
.grizzly-solution-popular {
  top: 20px;
  right: -50px;
  background-color: #F98925;
  position: absolute;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  padding: 8px 50px;
  rotate: 45deg;
}
.triangle-popular-upper {
  position: absolute;
  top: -15px;
  right: 105px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 15px solid #ae5e16;
  z-index: -1;
}
.triangle-popular-lower {
  z-index: -1;
  position: absolute;
  top: 92px;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #ae5e16;
}
.grizzly-popular {
  top: 35px;
  right: -43px;
  background-color: #F98925;
  position: absolute;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  padding: 8px 50px;
  rotate: 45deg;
 
}






.workout-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  min-height: 400px;
}
.workout-track {
  width: 100%;
  height: 450px;
  position: relative;
  overflow-y: hidden;
  display: flex;
  gap: 2rem;
  scrollbar-width: none;
}
.workout {
  width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.workout-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.workout-body {
  padding: 0 !important;
  flex-grow: 1;
}





.grizzly-footer{
  margin-top: 15rem;
width: 100vw;
background:
linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(to bottom, rgba(39, 39, 39, 1), rgba(255, 255, 255, 0));
    height: 20rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.grizzly-logo{
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
}
.grizzly-sublogo{
  width: 10rem;
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
}
.grizzly-footer-copyright{
  position: absolute;
  top: 16.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.grizzly-footer-nav{
  display: flex;
   position: absolute;
   top: 12rem;
   left: 50%;
   transform: translateX(-50%);
 }


 .grizzly-footer-break{
  width: 100vw;
  border: #ffffff 1px solid;
  position: absolute;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
}


























@media (max-width: 1046px) {
  
  .grizzly-eclipse-c {
    top: 65%;
  }
  @media (max-width: 991px) {
    .grizzly-eclipse-c {
      top: 60%;
      left: 5%;
      width: 200px;
  height: 200px;
  border: 10px solid #ED442D;
    }
  }
}
@media (max-width: 470px) {
  .text-carousel {
    height: 20rem !important;
  }
  .grizzly-eclipse-c {
    top: 45%;
    left: -40px;
    width: 150px;
height: 150px;
border: 10px solid #ED442D;
  }
}
  @media (max-width: 767px) {
    .global-padding {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    
    @media (max-width: 575px) {
      .global-padding {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
      .font-xl{font-size: 3.25rem;}/*90px*/
      .font-lg{font-size: 2rem;}/*32px*/
      .font-md{font-size: 1.5rem;}/*40px*/
      .font-sm{font-size: 1rem;}/*16px*/
      .font-ctext{font-size: 1.25rem;}
      .grizzly-button {
       
        width: 10rem;
        height: 3.5rem;
      }
  }